meta:
  name_of_run: "test_scDINO_20x_ds2_t5_2cat_128"
  output_dir: "/home/nbahou/myimaging/scDINO/output"
  dataset_dir: "/home/nbahou/myimaging/apoDet/data/dataset2/windows_20x_2cat_resize_128"
  folder_depth_for_labels: 0 # 0 is the folder where the images are, 1 is the folder above, etc.
  train_datasetsplit_fraction: 0.8
  seed: 40
  images_are_RGB: False
  channel_dict: { 0: "0",1: "1",2: "2",3: "3",4: "4" } #do not use underscore or slash in channel name
  selected_channel_combination_per_run: ["01234"] #01234 is all 5 channels, 0 is only APC, 1 is only BF, etc.
  center_crop: 0 #0 is no center crop

train_scDINO:
  dino_vit_name: "300ep_5ch_resize128_25-5-5-1_vitSmall16_lr0003"
  fraction_for_mean_std_calc: 0.1
  epochs: 300
  saveckp_freq: 5
  num_gpus: 2
  batch_size_per_gpu: 256
  num_workers: 20
  dist_url: "env://"
  hyperparameters:
    arch: "vit_small"
    patch_size: 16
    norm_last_layer: True
    momentum_teacher: 0.996
    use_bn_in_head: False
    warmup_teacher_temp: 0.04
    teacher_temp: 0.04
    warmup_teacher_temp_epochs: 0
    use_fp16: True
    weight_decay: 0.04
    weight_decay_end: 0.4
    clip_grad: 3
    freeze_last_layer: 1
    lr: 0.0003
    warmup_epochs: 35
    min_lr: 0.000008
    optimizer: "adamw"
    drop_path_rate: 0.1
    global_crops_scale: !!python/tuple [0.5, 1.0]    #
    local_crops_number: 8
    local_crops_scale: !!python/tuple [0.25, 0.5]    #
    # out_dim: 1024 reduced outdim

downstream_analyses:
  compute_cls_features:
    normalize: True
    num_gpus: 2
    batch_size_per_gpu: 128  #24
    num_workers: 16
    checkpoint_key: teacher
    resize: False    # True   was true before, Now did 48x48 crops by myself
    resize_length: 48 #224 #only used if resize is True
  attention_visualisation:
    num_images_per_class: 2
    resize_attention_image: True
    image_size: 128
  kNN:
    global:
      n_neighbors: [5, 10, 50, 100, 200, 500]
      temperature: 0.1
  umap_eval:
    n_neighbors: 30
    min_dist: 0.4
    n_components: 2
    metric: euclidean
    spread: 1.1
    epochs: 100
    topometry_plots: False
